#ul {
	list-style: none;
}	

img {
	width: 100%;
	height: auto;
	border: 1px dotted black;
}

div.credentials {
	background-color:  rgb(197, 224, 180);
	border: 1px dotted black;
	border-radius: 4px;
}

div.container.well div.row div.row {
	padding-bottom: 3%;
}

div.container.well {
	background-color: rgb(169, 209, 142);
}

div.email a{
	text-decoration: underline;
	color: blue;
}

.panel-primary {
	background-color: rgb(169, 209, 142);
}

.all {
	width: 70%;
}