
<div class="col-md-3"></div>
<div class="col-md-6">
  <div class="box">
    <div class="row">
      <div class="col-md-2"></div>
        <div class="col-md-8">
          <h1 class="login-header">Login</h1>
             <p>
                 <label for="username">Username:</label>
                 <input type="text" required="required" id="username" class="form-control" ng-model="userData.username" required />
             </p>
             <p>
                 <label for="password">Password:</label>
                 <input type="password" required="required" id="password" class="form-control" ng-model="userData.password" required />
             </p>
             <div class="row">
               <div class="col-md-1"></div>
               <div class="col-md-4"><a ng-click="login(userData)" class="button">Login</a></div>
               <div class="col-md-2"></div>
               <div class="col-md-4"><a href="#/register" class="button">Register</a></div>
               <div class="col-md-1"></div>
             </div>
             
         
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
</div>
<div class="col-md-3"></div>