body {
    font-family: Calibri, Arial, serif;
    background-color: #E2F0D9;
}

#app-header {
    border: #507E32 1px solid;
    text-align: center;
    padding: 5px;
    font-size: 25pt;
    font-weight: bold;
    color: white;
    text-shadow: rgba(255, 255, 255, 0.5) 0.5px 0.5px 1px;
    margin: 5px;
    height: 40%;
}

#app-header .user-area {
    float: right;
    font-size: 20pt;
    font-weight: normal;
    margin: 5px 5px 0 0;
}

#app-header .user-area span {
    margin-right: 15px;
}

#app-footer {
    clear: both;
    background-color: #A9D18E;
    border: #507E32 1px solid;
    text-align: center;
    padding: 5px;
    font-size: 12pt;
    font-weight: normal;
    color: black;
    text-shadow: rgba(255, 255, 255, 0.5) 0.3px 0.3px 1px;
    margin: 5px;
}

ul.pagination {
    display: table;
    margin: 15px auto;
}


.box {
    width: 100%;
    display: block;
    background: #A9D18E;
    border: #507E32 1px solid;
    margin: 15px 0;
    padding: 10px;
    box-shadow: 1px 1px 1px rgba(80, 126, 50, 0.5);
    border-radius: 15px;

}

.box h1 {
    margin: 0 0 10px 0;
    font-size: 18pt;
    font-weight: bold;
    color: black;
    text-shadow: rgba(255, 255, 255, 0.5) 0.3px 0.3px 1px;
}

.box h2 {
    margin: 0 0 10px 0;
    font-size: 16pt;
    font-weight: bold;
    color: black;
    text-shadow: rgba(255, 255, 255, 0.5) 0.3px 0.3px 1px;
}

ul.sidebar-menu {
    padding: 0px 5px;
}

ul.sidebar-menu li {
    list-style-type: none;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0);
    padding: 2px;
    color: black;
    font-weight: bold;
    margin-bottom: 2px;
}

ul.sidebar-menu li:hover {
    background: #9ec684; ;
}

ul.sidebar-menu li.special {
    font-style: italic;
}

ul.sidebar-menu li.selected {
    background: rgb(44, 62, 80);
    border: 1px solid #7F6000;
}

ul.sidebar-menu li a, ul.sidebar-menu li a:focus {
    outline: none;
    display: block;
    text-decoration: none;
    color: #1c381c;
}

.button, .button:focus {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
    background: #70AD47;
    border: 2px solid #507E32;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 20px;
    display: inline-block;
    margin: 5px 10px 0px 10px;
    outline: none;
}

.button:hover {
    background: #87c649;
    border: 2px solid #649636;
    text-decoration: none;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
    cursor: pointer;
}

.link {
    color: #2E75B6;
    text-decoration: none;
    padding: 0;
    border-bottom: 1px dotted #2E75B6;
    cursor: pointer;
}

.link:hover {
    color: #29619d;
    text-decoration: none;
}

.no-data {
    font-size: 18px;
}

.ad-image {
    max-width: 150px;
    max-height: 150px;
}
/*my styles*/
img {
    width: 90%;
    height: auto;
    border: 1px dotted black;
}

div.credentials {
    background-color:  rgb(197, 224, 180);
    border: 1px dotted black;
    border-radius: 4px;
    word-wrap: break-word;
}

div.container.well div.row div.row {
    padding-bottom: 3%;
}

div.container.well {
    background-color: rgb(169, 209, 142);
}

div.email a {
    text-decoration: underline;
    color: rgb(9, 132, 184);
    font-size: 120%;
}

div.publish-buttons {
    margin-top: 3%;
    text-align: center;
}

div.publish-buttons button.btn {
    margin-left: 15%;
    margin-right: 15%;
    width: 15%;
}

div.publish-ad-form {
    background: #A9D18E;
    border: #507E32 1px solid;
    margin: 15px 0;
    padding: 10px;
    box-shadow: 1px 1px 1px rgba(80, 126, 50, 0.5);
    border-radius: 15px;
}

div.reg-form  p label {
    padding-right: 20%;
}

div.my-add {
    border-right: 1px solid black;
}

div.my-add-left {
    padding-left: 15%;
    text-align: center;
    margin-top: 40%;
}

div.my-add-left div.row{
    padding-bottom: 6%;
}

div.my-add-left div.row button {
    width: 100%;
}

div.status {
    width: 100%;
}
