<div class="jumbotron">
	<div class="row">
		<div class="col-md-2">
			<div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Navigation</h3>
                </div>
                <ul class="nav nav-tabs">
                	<li>
                		<a href="" data-toggle="tab">Home</a>
                	</li>
                </ul>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">To publish a new ad, please login.</h3>
                </div>
                <ul class="nav nav-tabs">
                	<li>
                		<a href="" data-toggle="tab">Login</a>
                	</li>
                	<li>
                		<a href="" data-toggle="tab">Register</a>
                	</li>
                </ul>
            </div>
		</div>
		<div class="col-md-8">
			<ul id="ul">
				<li ng-repeat="ad in data.ads | filter:{ townId: townFilter, categoryId: categoryFilter}">
					<div class="container well">
						<div class="row">
							<div class="col-md-7">
								<h3 class="pull-left">
									{{ ad.title }}
								</h3>
							</div>
							<div class="col-md-5">
								<span class="pull-right">
									<strong>{{ ad.date | date: 'd-MMM-yyyy'}}</strong>
								</span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="image-container">
									<img src="" ng-src="{{ ad.imageDataUrl }}" alt="NO IMAGE" />
								</div>			
							</div>
							<div class="col-md-8">
								<div class="row">
									<div class="col-md-12">
										<div class="panel-body credentials">
											{{ ad.text}}
										</div>
										
									</div>
								</div>
								<div class="row">
									<div class="col-md-3">
										
										<div class="panel-body">
											<strong>Name: </strong> 
										</div>
									</div>
									<div class="col-md-9">
										<div class="panel-body credentials">
											{{ ad.ownerName }}
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3">
										<div class="panel-body">
											<strong>Email: </strong> 
										</div>
									</div>
									<div class="col-md-9">
										<div class="panel-body credentials email">
											<a href="{{ ad.ownerEmail }}">{{ ad.ownerEmail }}</a>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3">
										<div class="panel-body">
											<strong>Tel. </strong> 
										</div>
									</div>
									<div class="col-md-9">
										<div class="panel-body credentials">
											{{ ad.ownerPhone }}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-md-2">
			<div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Categories</h3>
                </div>
                <ul class="nav nav-tabs">
                	<li class="all">
                		<a href="" data-toggle="tab" ng-click="filterByCategory(undefined)">All</a>
                	</li>
                	<li ng-repeat="category in categories">
                		<a href="" data-toggle="tab" ng-click="filterByCategory(category.id)">{{ category.name }}</a>
                	</li>
                </ul>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Towns</h3>
                </div>
                <ul class="nav nav-tabs">
                	<li class="all">
                		<a href="" data-toggle="tab" ng-click="filterByTown(undefined)">All</a>
                	</li>
                	<li ng-repeat="town in towns">
                		<a href="" data-toggle="tab" ng-click="filterByTown(town.id)">{{ town.name }}</a>
                	</li>
                </ul>
            </div>
		</div>
	</div>
</div>